.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.443);
  width: 100vw;
  height: 100vh;
}

.modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: auto;

  z-index: 11;

  width: 800px;
  height: 800px;
}

.modal__content {
  background-color: white;
  width: 100%;
  height: fit-content;

  border-radius: 12px;
  padding: 26px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__title {
  align-self: center;
}

.modal__fields {
  margin-top: 60px;
  align-items: first baseline;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

.modal__field {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  width: 100%;

  position: relative;
}

.modal__field span {
  position: absolute;
  bottom: -24px;
  right: 8px;
}

.modal__field_name {
  position: relative;
  min-width: 90px;
  width: fit-content;
}

.modal__field_name span {
  position: absolute;
  top: -5px;
  right: -8px;
  color: rgb(187, 44, 44);
}

.modal__field_input {
  padding: 8px;
  width: 100%;
  height: 40px;

  border: 1px solid #dcdcdc;
  border-radius: 8px;
  transition: 0.1s ease-out all;
  font-family: Inter;
  font-size: 14px;
}

.modal__field_input_err {
  border: 1px solid rgb(255, 62, 62);
  /* transition: 0.1s ease-out all; */
}

.modal__field_input:focus {
  border: 1px solid #3d3d3d;
  outline: none;
}

.modal__field_input_err:focus {
  border: 1px solid rgb(255, 0, 0);
  outline: 1px solid rgb(255, 0, 0);
}

.modal__field_textarea {
  height: 120px;
  resize: none;
}

.modal__field_images {
  height: 150px;
}

.modal__field_images_area {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px dashed #eeeeee;
  border-radius: 8px;
  background-color: #fafafa;

  padding: 20px;

  outline: none;
  transition: "border .24s ease-in-out";
  cursor: pointer;
  transition: 0.1s ease-out all;
}

.modal__field_images_area:hover {
  border-color: #6a9ffa;
}

.modal__field_images_previews {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.modal__field_images_placeholder {
  position: absolute;
  top: 50%;
  left: 50%;

  color: #c1c1c1;

  transform: translate(-50%, -50%);
}

.modal__field_images--focused {
  border-color: #6f89a0;
}

.modal__field_images--accept {
  border-color: #6f89a0;
}

.modal__field_images--reject {
  border-color: #ff1744;
}

.modal__submit {
  display: flex;
  align-self: center;
}

.modal__submit button {
  font-family: Inter;
  font-size: 16px;
  height: 55px;

  padding: 16px;
  width: 200px;

  color: white;
  background-color: rgb(12, 165, 35);

  border-radius: 8px;
  transition: 0.08s ease-out all;
}

.modal__submit:hover button {
  background-color: rgb(69, 187, 86);
}

.modal__submit:active button {
  font-size: 15.6px;
  background-color: rgb(26, 127, 41);
}

.modal__close {
  position: absolute;
  font-size: 36px;
  color: #ff1744;
  top: 4px;
  right: 14px;
  cursor: pointer;
}
