:root {
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h3,
h4,
h5,
h6 {
  font-weight: normal;
}

html {
  font-family: Inter;
  font-size: 16px;
  color: #4f4f4f;
}

button {
  outline: none;
  border: none;
  background: none;
}

.app {
  height: 100vh;
  background-color: aliceblue;
}

.heroapp {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.heroapp__wrapper {
  margin: auto;
  max-width: 1000px;
  width: 100%;
}

.heroapp__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 30px 15px;
  gap: 30px;
}

.heroapp__title {
  font-size: 40px;
}

.heroapp__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
}
