.heropage__content {
  max-width: 90%;
  padding: 40px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  margin-top: 40px;
  justify-content: center;
}

.heropage__nickname {
  align-self: center;
  font-size: 32px;
}
.heropage__name {
  margin-top: 6px;
  align-self: center;
  font-size: 24px;
  font-weight: 400;
  color: #587cb5;
}

.heropage__info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;

  max-width: 600px;
  margin: 36px auto;
}

.heropage__info-wrapper p {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.heropage_descr {
  align-self: center;
}

.heropage__phrase {
  align-self: center;
}

.heropage__superpovers {
  align-self: center;
}

.heropage__label {
  font-weight: 600;
  font-size: 18px;
}

.heropage__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heropage__images {
  font-size: 24px;
}

.heropage__images_wrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.heropage__image {
  width: 400px;
  height: auto;
  border: 3px dashed #e2e2e2;
}

.heropage__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heropage__buttons {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 40px;
}

.heropage__open_modal,
.heropage__delete_hero {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px;
  width: 300px;
  height: 60px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.1 ease-out all;
}

.heropage__open_modal {
  background-color: #76ad72;
}

.heropage__open_modal:hover {
  background-color: #6fa36b;
}

.heropage__open_modal:active {
  font-size: 15px;
  background-color: #8fcf8b;
}

.heropage__delete_hero {
  background-color: #c9363d;
}

.heropage__delete_hero:hover {
  background-color: #b83239;
}

.heropage__delete_hero:active {
  font-size: 15px;
  background-color: #dc3e46;
}

.heropage__open_modal span,
.heropage__delete_hero span {
  color: white;
  font-size: 16px;
  transition: 0.1 ease-out all;
}

.heropage__open_modal:active span,
.heropage__delete_hero:active span {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .heropage__content {
    max-width: 100%;
    padding: 20px;
  }

  .heropage__buttons {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .heropage__content {
    padding: 10px;
  }

  .heropage__image {
    width: 100%;
  }

  .heropage__buttons {
    width: 100%;
  }

  .heropage__open_modal,
  .heropage__delete_hero {
    width: 100%;
  }
}
